<%- include('../partials/header') %>

<div class="container text-center">
  <h1>Bus Routes</h1>
  <% routes.forEach(route => { %>
    <li class="list-unstyled">
        <a href="/stops/<%= route.id %>" class="btn btn-primary" data-route-id="<%= route.id %>">
            <%= route.id %>: <%= route.name %> 
        </a>
    </li>
<% }); %>

</div>

<%- include('../partials/footer') %>
